.none{
    color:var(--light_gray);
}
.timer{
    font-size:0.875rem;
    font-weight: 600;
    margin-left: 0.5rem;
    color: var(--purple);
}
.fieldboss{
    color:#d59137;
}
.ghostship{
    color:mediumpurple;
}
.chaosgate{
    color:#b91404;
}