.accordion{
    overflow: hidden;
    max-height: 400px;
    transition: max-height 1s ease-in-out;
}
.accordion[aria-expanded='true']{
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.active{
    display: block;
    opacity: 1;
    transition-delay: 6s;
}
.accordion_container{
    text-align:center;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.accordion_header{
    display: flex;
    justify-content: space-around;
}
.accordion_content{
    display: flex;
    padding: .5rem;
}
.content{
    flex-basis: 70%;
}
.innerContent{
    display:flex;
    padding:.75rem;
}
.preview{
    flex-basis: 30%;
}
.preview img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;

}