.accordion{
    overflow: hidden;
    max-height: 400px;
    transition: max-height 1s ease-in-out;
}
.accordion[aria-expanded='true']{
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

