.writeBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

}
.writeBtn a{
    background: mediumpurple;
    color: white;
    border-radius: 3px;
    border : 0;
    padding: 0.4rem 1.5rem;
    cursor:pointer;
}

.searchbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.searchbar input{
    border:0;
    outline: none;
    background-color: rgb(233, 233, 233);
    height: 1.5rem;
    border-radius: 3px;
}
.searchbar button{
    background: #0dd4bc;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    border : 0;
    padding: 0.2rem;
    cursor:pointer;
}