.select_btn,
.indicator_btn{
  display:flex;
  justify-content: flex-end;
}
.guild_table thead th{
  background: #f2f2f2;
}
.guild_table tbody{
  font-size: 0.8rem;
}
.guild_table tbody td:not(:last-child) {
  text-align: center;
}
.guild_table tbody td{
  height: 40px;
}
.guild_table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* 원하는 회색 배경색으로 변경 */
}
.guild_table tbody td:nth-child(2) {
  width: 358px; /* 원하는 너비로 변경 */
}
.guild_table tbody td:first-child {
  width: 100px; /* 원하는 너비로 변경 */
}