*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin: 0;
    font-size: 100%;
    font-family: 'MoeumT R',sans-serif;
    color:#353945;
}
a{
    text-decoration:none;
    color:inherit;
}
li{
    list-style:none;
}
.wrapper{
    background: #26343f;
    max-width: 68.75rem;
    width: 100%;
    margin: 0 auto;

}
:root{
    --white:#fff;
    --light_gray:#7D8395;
    --purple:#8045dd;
}
@media (max-width: 1024px) {

}