.container{
    display:flex;
    gap:2rem;
    height: 60vh;
    padding:1rem;
    justify-content: center;
    width: 100%;
    max-width: 68.75rem;
    margin: 0 auto;
}
.aside{
    flex-basis: 20%;
}
.main{
    flex-basis:80%
}
.accordionMenu{
    padding:.5rem;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    font-weight: bold;
}
.accordionMenu li:last-child .dropdown{
    border-bottom:0;
}

.dropdown{
    cursor: pointer;
    font-size:18px;
    position:relative;
    padding:.25rem;
    display:flex;
    justify-content: space-between;
    align-items:baseline;
    margin-bottom: .5rem;
}
.dropdown:hover{
    border-radius: 8px;
    background: linear-gradient(to right,#5865f2,#8045dd);
    color:#fff;
}
.dropdown .arrowIcon{
    right:12px;
    left:auto;
    transition:transform 0.2s ease-in-out;
}
.submenuItems{
    display:none;
    background:#fff;
}
.accordionMenu .link.active .submenuItems{
    display: block;
}
.submenuItems {
    padding:.75rem .5rem;
}
.submenuItems a{
    display:block;
    color:#7D8395;
    transition: all 0.2s ease-out;
    margin:.125rem;
    cursor:pointer;
}
.submenuItems a:hover{
    text-decoration: underline;
    transition: .6s;
    color:#8045dd;
}
/*main header*/
.form{
    display: flex;
    border:2px solid #d0d0d0;
}
.form_box{
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    padding:1rem 2rem;
    position:relative;
}
.row{
    display:flex;
    flex-direction:column;
    gap:.5rem;
}

.form_dropdown{
    position:relative;
    width:180px;
    height: 45px;
}
.form_dropdown::before{
    content:'';
    position:absolute;
    top:22px;
    right:28px;
    width: 12px;
    height:2px;
    background:#555;
    z-index:1;
    transform: rotate(40deg);
    transition: .5s;
}
.form_dropdown::after{
    content:'';
    position:absolute;
    top:22px;
    right:20px;
    width: 12px;
    height:2px;
    background:#555;
    z-index:1;
    transform: rotate(-40deg);
    transition: .5s;
}
.form_dropdown.active::before{
    right: 20px;
}
.form_dropdown.active::after{
    right: 28px;
}
.form_dropdown input{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius:10px;
    padding:12px 10px;
    font-size:1rem;
    background:#fff;
    border:2px solid #d0d0d0;
    outline:none;
}
.form_input{
    width: 100%;
    height:50px;
    display:flex;
    align-items:center;
}
.form_input label{
    width:100px;
    font-weight: bold;
}
.input_value{
    padding:12px 10px;
    font-size:1rem;
    outline:none;
    border:2px solid #d0d0d0;
    border-radius: 10px;
    width: 180px;
    height: 45px;
    background:#fff;
}
.input_value::placeholder{
    font-size:.75rem;
}
.form_dropdown .option{
    position:absolute;
    width:100%;
    background: #fff;
    top:50px;
    border-radius:10px;
    box-shadow:0 30px 30px rgba(0,0,0,0.1);
    overflow: hidden;
    visibility:hidden;
    opacity: 0;
    transition:.25s;
    z-index:2;
    max-height: 300px; /* 스크롤이 생성될 최대 높이 */
    overflow-y: auto; /* 세로 스크롤을 자동으로 생성 */
}
.form_dropdown.active .option{
    visibility:visible;
    opacity:1;
}
.form_dropdown .option div{
    padding:12px 20px;
    cursor: pointer;
}
.form_dropdown .option div:hover{
    background: linear-gradient(to right,#5865f2,#8045dd);
    color:#fff;
}
.button_sector{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:.5rem;
}
.button_sector button{
    background: linear-gradient(to right,#5865f2,#8045dd);
    padding:0.5rem 1.5rem;
    font-size:1.3rem;
    color:#fff;
    border-radius:8px;
}
/*table*/

.table_container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.table_row {
    display: flex;
}
.table_row table{
    width: 100%;
}
.table_row th:first-child {
    width: 300px;
}

.table_row th{
    border:2px solid #d0d0d0;
    padding:.25rem;

}
.table_row th:not(:last-child):hover{
    cursor:pointer;
}
.table_row th.active{
    border:2px solid #8045dd;
    color:#8045dd;

}

.icon{
    transform:rotate(180deg);
}
.th_content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table_row td:first-child{
    display: flex;
}
.table_row td:not(:first-child) {
    text-align: center;
}

td img{
    width: 44px;
    height: 44px;
}
.td_content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.gold{
    color:#d0b14e;
}
.indicator{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:.25rem;
}
.indicator button{
    padding:.25rem;

}
.indicator span{
    border:1px solid #d0d0d0;
    padding:.25rem;
    margin:.25rem;
}
.indicator span.select{
    background: #26343f;
    color:#fff;
}
