.body{
    overflow-y: scroll;
    height: 88.3vh;
    padding:1rem;
}
.body::-webkit-scrollbar-thumb{
    background: transparent;
}
.container{
    margin:0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 90%;
}
.main{
    width:68%;
}
.main_header{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.main_header_inner{
    display: flex;
}
.main_body{
    overflow-y: scroll;
    height: 84vh;
}
.main_body_container{
    border:2px solid #e6e8ec;
    border-radius: 10px;
    margin-top:1rem;
    padding:.75rem;
}
.openBtn{
    display:flex;
    justify-content: center;
    cursor: pointer;
}
.openBtn .arrow{
    transition: all 0.35s ease;
}

.openBtn .arrow[aria-expanded='true']{
    transform: rotateZ(180deg);
}
.main_body::-webkit-scrollbar-thumb{
    background: transparent;
}
.main_body_box{


}
.main_body_box span{
    text-align: center;
}
.row_box{
    display: flex;
    align-items: center;
    justify-content: space-between;



    background: #ffffff;
}
.row_box_open{
    border-radius: 10px 10px 0 0;
    border-bottom:none;
}
.inner_row_box{
    display:flex;
    align-items: center;
    gap:1rem;
}
.column_box{
    display:flex;
    flex-direction:column;

}
.favorite:hover{
    color:yellow;
    transition: .4s;

}
.penalty{
    color:#F95126;
}
/* aside */
.aside{
    padding: 1rem;
    width: 26%;
    border: 2px solid #e6e8ec;
    border-radius: 8px;
    height: 300px;
    transform: translateY(12%);
}
.box{
    margin-top:1.5rem;
    display: flex;
    justify-content: space-between;
    gap:1rem;
}
.box button{
    border:0;
    background:#26343f;
    padding:.5rem;
    width: 100%;
    color:var(--white);
    border-radius:10px;
}
.writeBtn{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding:.75rem;
    font-size:1.3rem;
    border-radius: 10px;
    color:var(--white);
    background: linear-gradient(to right,#5865f2,#8045dd);
}
hr{
    margin:1rem 0 .5rem;
}

