.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px;
    padding:.5rem;

}
.form{
    flex-basis: 25%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1.5rem 1rem 0;
    border-radius: 8px;
}
.form h2{
    margin: 0 0 20px;
    color: #7D8395;
    display: flex;
    align-items: center;
}
.form label{
    margin: 0 0 6px 0;
    font-size: 1.1rem;
}
.form input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid #777;
    background-color: #e8f0fe;
    outline: none;
    font-size: 1.1rem;
    box-sizing: border-box;
    margin: 0 0 8px 0;
}
.password{
    color:#5865f2;
    display:flex;
    justify-content:end;
}
.password:hover{
    text-decoration:underline;
}
.loginBtn{
    background: linear-gradient(to right,#5865f2,#8045dd);
    color:#fff;
    padding: .5rem .75rem;
    font-weight: bold;
    font-size:1rem;
    border-radius:8px;
}
.signupBox{
    padding: 2rem 0.5rem;
}
.signupBtn{
    color:#5865f2;
}
.signupBtn:hover{
    text-decoration:underline;
}