.container{
    display: flex;
    justify-content: center;
    height:70vh;
    flex-direction: column;
    margin:auto;
}
.form{
    flex-basis: 25%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:1.5rem 1rem;
    border-radius: 8px;
}
.form h2{
    color:#8045dd;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px;
    padding:.5rem;

}
.inputContainer label {
    margin: 0 0 6px 0;
    font-size: 1.1rem;
}

.inputContainer input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #777;
    background-color: #e8f0fe;
    outline: none;
    font-size: 1.1rem;
    box-sizing: border-box;
    margin: 0 0 8px 0;
}
.signupBtn{
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to right,#5865f2,#8045dd);
    color: #fff;
    font-weight:900;
    cursor: pointer;
}
