.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:70vh;
}
.form{
    flex-basis: 25%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:1.5rem 1rem 0;
    border-radius: 8px;
}
.form h2 {
    margin: 0 0 20px;
    color:#8045dd;
}
.signupBtn{
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to right,#5865f2,#8045dd);
    color: #fff;
    font-weight:900;
    cursor: pointer;
}

.signupBtn:disabled {
    background: #eee;
    color: #999;
    box-shadow: none;
    cursor:not-allowed;
}
.sector{
    padding:2rem .5rem;
}
.sector a{
    color:#5865f2;
}
.sector a:hover{
    cursor:pointer;
    text-decoration: underline;
}