.main_header{

    box-shadow: 0 3px 30px 0 rgba(198,210,221,.3);
    width: 100%;
    background: #fff;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; /* 적절한 여백을 설정하세요 */
}
.main_logo img{
    width: 100px;
    height: 90px;
}
.main_nav{
    flex:0 0 70%;

}

.main_menu{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_menu_lists{
    display: flex;
    color: var(--light_gray);
}
.main_menu_lists li{
    font-size: 1.5rem;
    font-weight: 500;
    padding :0.7rem;
}

.main_menu_lists a:hover,
.main_login a:hover{
    transition: 0.6s;
    color: var(--purple);
}
.main_search{
    border:1px solid var(--light_gray);
    border-radius:8px;
    width: 14.375rem;
    padding:0.7rem;
    position: relative;

}
.main_search form{

    width: 80%;
    display: flex;
}
.main_search input{
    outline:none;
    border:0;
}
.main_search input::placeholder{
    color: var(--light_gray);
    font-weight: bold;
}
.main_search_btn{
    display: inline-block;
    position: absolute;
    right: 20px;
}
.main_login{
    font-size: 1.2rem;
    color: var(--light_gray);
    padding:0.7rem;
    flex:0 0 15%;
}
.login_btn{
    padding:1rem;
    display: flex;
    align-items:center;
    font-size: 1.3rem;
    font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .main_menu{
        width: 80%;
        padding:0;
        margin: 0 auto;
    }
    .main_menu_lists li,
    .main_login{
        padding: .4rem;
        font-size: 1.2rem;
    }
    .main_search{
        width: 12rem;
    }
}